%% -*- mode: erlang -*-
[
  {arke, []},
  {lager, [{handler, [
                      {lager_console_backend, [{level, info}]},
                      {lager_file_backend, [{file, "log/arke.log"},
                                            {level, info},
                                            {size, 10485760},
                                            {count, 10},
                                            {date, "$D0"},
                                            {formateter, lager_default_formatter},
                                            {formatter_config, [date, " ", time, " [", severity, "] ", pid, " ", {application, ["(", application, ") "], ""}, message, "\n"}
                                           ]},
                     ]} ]}
].
